# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout
!.profile

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zsh/contrib
!.zsh/contrib/*
# Do ignore the data directory (my construct, it's where completion cache,
# history etc live)
.zsh/data
.zsh/data/*
# Do ignore local/sensitive settings
.zsh/*local
# Swapfiles (sigh)
.zsh/*.swp

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes

# Gem config
!.gemrc

# Idea vim
!.ideavimrc

# Accept configs
!.config
!.config/nvim
!.config/nvim/*
.config/nvim/lazy-lock.json
!.config/karabiner/karabiner.json
!.config/ghostty/config
!.config/aerospace/aerospace.toml
!.config/sketchybar
!.config/sketchybar/plugin
!.config/sketchybar/plugin/*
!.config/sketchybar/plugin/**
!.config/sketchybar/*
!.config/sketchybar/**
!.config/neofetch
!.config/neofetch/*

# Rust!
!.cargo
!.cargo/config.toml
